
<section class=" w-4/5 mx-auto"
         data-aos="fade-up"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine">
  <div class="h-svh mx-auto py-20  aboutMeContainer text-center">

      <div class="flex flex-wrap justify-between">
        <div class="shortDescription w-7/12 text-start">
        <h2 class="text-3xl py-5 dark:text-amber-50 text-gray-700">WHO AM I?</h2>
          <h3 class="text-2xl py-5 dark:text-amber-50 text-gray-700">I'm Christy Smith, a Web Designer & Photographer</h3>
          <p class="dark:text-amber-50 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="w-4/12 py-5 bg-gray-500 rounded-2xl shadow-lg p-3">
          <div class="progress-item" *ngFor="let item of skills">
            <div class="mb-1 text-base font-medium dark:text-amber-50 text-emerald-100 flex justify-between">
              <span >{{item.title}}</span>
              <span>{{ item.progress }}%</span></div>
            <div class="w-full  rounded-full h-4 mb-4 dark:text-amber-50 bg-sky-200">
              <div class="dark:bg-cyan-500 h-4 rounded-full bg-gray-900" [ngStyle]="{ 'width.%': item.progress }"></div>

            </div>
          </div>

        </div>
      </div>
    </div>

</section>
