<section class="h-screen">
  <div class="py-10 text-center">
    <h1 class="text-amber-50 text-4xl">About me</h1>
    <div class="shortPortfolio w-2/3 mx-auto mt-32 text-xl p-40">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, cum cupiditate debitis delectus esse
        illo iure laborum minus, molestias mollitia numquam odio, odit perspiciatis provident recusandae reiciendis
        saepe veritatis voluptatum?
      </p>
      <p>Alias aliquid, animi, atque corporis culpa cum deserunt ducimus ea et facere in laboriosam laudantium libero
        maiores nam, neque odit praesentium provident quod ratione rem sapiente sit temporibus ullam veritatis?
      </p>
    </div>
  </div>
</section>
