<section class="h-screen">
  <div class="py-10 text-center">
    <div class="flex flex-wrap mt-32">
      <div class="w-1/3 mx-auto z-10">
        <figure>
          <img src="./assets/images/avatar.png" alt="">
        </figure>
      </div>
      <div class="shortPortfolio w-2/4 mx-auto  text-xl p-10">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, cum cupiditate debitis delectus esse
          illo iure laborum minus, molestias mollitia numquam odio, odit perspiciatis provident recusandae reiciendis
          saepe veritatis voluptatum?
        </p>
        <p>Alias aliquid, animi, atque corporis culpa cum deserunt ducimus ea et facere in laboriosam laudantium libero
          maiores nam, neque odit praesentium provident quod ratione rem sapiente sit temporibus ullam veritatis?
        </p>
      </div>
    </div>
  </div>
</section>
