<div class="py-40 m-h-screen mx-auto flex flex-wrap justify-between relative"
     data-aos="fade-up"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"
>
  <div class="border-left-top absolute -left-5 top-16"></div>
  <div class="works-header pb-5 text-center mx-auto">
    <p class="text-4xl text-gray-900 dark:text-amber-50 ">CHECK OUT MY PORTFOLIO</p> <br>
    <p class="text-3xl text-gray-900 dark:text-amber-50 ">Here's what I have done with the past</p>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
    <div class="workItem">
      <img class="h-auto max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
    </div>
    <div class="workItem">
      <img class="h-auto max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
    </div>
    <div class="workItem">
      <img class="h-auto max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
    </div>
    <div class="workItem">
      <img class="h-auto max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
    </div>

  </div>

</div>
