<section class="dark:bg-color-base-dark bg-color-light-base">
  <div class="py-0 min-h-screen flex flex-wrap justify-center mx-auto relative myWorksContainer ">
    <div class="works-header text-center mx-auto">
      <p class="text-4xl text-gray-900 dark:text-amber-50 ">CHECK OUT MY PORTFOLIO</p> <br>
      <p class="text-3xl text-gray-900 dark:text-amber-50 ">Here's what I have done with the past</p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-4  my-40">
      <div class="workItem">
        <img class="w-10/12 max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
      </div>
      <div class="workItem">
        <img class="w-10/12 max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
      </div>
      <div class="workItem">
        <img class="w-10/12 max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
      </div>
      <div class="workItem">
        <img class="w-10/12 max-w-full rounded-lg" src="/assets/images/works/fluffy.jpg" alt="">
      </div>

    </div>

  </div>

</section>
