<div class="content">
  <app-toggle-mode></app-toggle-mode>
  <div class="nav-btn-toggle  fixed z-30" (click)="clickEvent()"
       [ngClass]="status ? 'nav-active' : ''">
    <div class="nav-but-wrap">
      <div class="menu-icon hover-target">
        <span class="menu-icon__line menu-icon__line-left bg-gray-900 dark:bg-amber-50"></span>
        <span class="menu-icon__line bg-gray-900 dark:bg-amber-50"></span>
        <span class="menu-icon__line menu-icon__line-right bg-gray-900 " [ngClass]="status ? 'dark:bg-amber-50' : 'dark:bg-gray-900'"></span>
      </div>
    </div>
  </div>
  <header class="z-20 fixed w-2/12  top-0" [ngClass]="status ? 'show' : 'hide'">
    <app-header></app-header>

  </header>
  <main class="grid">

    <div class="relative container mx-auto">
      <div class="contentBox  relative h-screen  items-center justify-center   text-center">
        <app-preview></app-preview>
        <span (click)="scroll(shortDescription)" class="arrow-item absolute bottom-0  z-30 dark:text-white mx-auto text-4xl text-gray-700"><ng-icon name="akarArrowDown"></ng-icon></span>
      </div>

        <div #shortDescription id="shortDescription" class="contentBox relative min-h-screen grid items-center justify-center " >
          <app-about></app-about>
        </div>
        <div class="contentBox relative min-h-screen  items-center justify-center" >

          <app-skills></app-skills>
        </div>
        <div class="contentBox relative min-h-screen  items-center justify-center w-10/12 mx-auto" >

          <app-my-works></app-my-works>
        </div>
        <div class="contentBox relative min-h-screen grid items-center justify-center" >
          <div class="border-right-top absolute right-20 top-16"></div>
          <app-timeline></app-timeline>
        </div>


    </div>



  </main>

<router-outlet></router-outlet>
</div>
