<section class="h-screen pt-36">
  <div class="custom__circle">
    <div class="container">
      <div class="card">
        <div class="percent" style="--clr:#04fc43;--num:85;">
          <div class="dot"></div>
          <svg>
            <circle r="70" cx="70" cy="70"></circle>
            <circle r="70" cx="70" cy="70"></circle>
          </svg>
          <div class="number">
            <h2>85 <span>%</span></h2>
            <p>HTML</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="percent" style="--clr:#0436fc;--num:55;">
          <div class="dot"></div>
          <svg>
            <circle r="70" cx="70" cy="70"></circle>
            <circle r="70" cx="70" cy="70"></circle>
          </svg>
          <div class="number">
            <h2>55 <span>%</span></h2>
            <p>CSS</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="percent" style="--clr:#041c7c;--num:75;">
          <div class="dot"></div>
          <svg>
            <circle r="70" cx="70" cy="70"></circle>
            <circle r="70" cx="70" cy="70"></circle>
          </svg>
          <div class="number">
            <h2>75 <span>%</span></h2>
            <p>Bootstrap</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="percent" style="--clr:#8c023c;--num:60;">
          <div class="dot"></div>
          <svg>
            <circle r="70" cx="70" cy="70"></circle>
            <circle r="70" cx="70" cy="70"></circle>
          </svg>
          <div class="number">
            <h2>60 <span>%</span></h2>
            <p>Angular</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
