/* You can add global styles to this file, and also import other style files */
:root {
  --base-color: rgb(25, 25, 25);
  --aqua: #03dac6;
  --shadow-color: #04293A;
  --texture-color: #064663;
  --text-color: #ECB365;
}

@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  //background-image: url("/assets/images/bg.jpg");

  overflow-x: hidden;

}
* {
  @apply transition-colors duration-500;
}
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #2be0e2;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color)
  var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}

.border-right-top,.border-left-top{
  width: 100px;
  height: 100px;
  border-color: var(--aqua);
}
.border-left-top{
  border-width: 4px 0 0 4px;
}
.border-right-top{
  border-width: 4px 4px 0 0;
}

